# if we've come that far we should have a basic cluster running, so dump info
- name: get Cluster information
  kubernetes.core.k8s_info:
    kubeconfig: "{{_k3s_kubecfg}}"
    kind: Config
  register: cluster_info

- debug:
    msg: "k3s cluster information: {{cluster_info|to_nice_json}}"

- name: Show cluster name
  debug:
    msg: "Cluster name is {{ cluster_info.resources[0].name }}"
  when: cluster_info.resources[0].name is defined

- include_tasks: deploy_longhorn.yml
  when: >
    _k3s_cfg.longhorn is defined and
    _k3s_cfg.longhorn.state is defined and
    _k3s_cfg.longhorn.state == 'present'

- include_tasks: remove_longhorn.yml
  when: >
    _k3s_cfg.longhorn is defined and
    _k3s_cfg.longhorn.state is defined and
    _k3s_cfg.longhorn.state == 'absent'

- include_tasks: deploy_metallb.yml
  when: >
    _k3s_cfg.metallb is defined and
    _k3s_cfg.metallb.state is defined and
    _k3s_cfg.metallb.state == 'present'

- include_tasks: remove_metallb.yml
  when: >
    _k3s_cfg.metallb is defined and
    _k3s_cfg.metallb.state is defined and
    _k3s_cfg.metallb.state == 'absent'

- include_tasks: deploy_kured.yml
  when: >
    _k3s_cfg.kured is defined and
    _k3s_cfg.kured.state is defined and
    _k3s_cfg.kured.state == 'present'

- include_tasks: remove_kured.yml
  when: >
    _k3s_cfg.kured is defined and
    _k3s_cfg.kured.state is defined and
    _k3s_cfg.kured.state == 'absent'

- name: run extra deployments
  include_tasks: "deployments.yml"
  with_dict: "{{_k3s_cfg.deployments|default({})}}"
  loop_control:
    loop_var: _deployment

- name: manage k3s pods
  include_tasks: manage_pods.yml
  when: network_pods is defined and network_pods | length > 0
