- name: push metallb config template
  become: false
  connection: local
  local_action:
    module: ansible.builtin.template
    mode: 0600
    src: metallb.yaml.j2
    dest: "{{_k3s_debug_path}}/metallb.yaml"
  vars:
    _pools: "{{_k3s_cfg.metallb.pools|default({})}}"
    _advertisements: "{{_k3s_cfg.metallb.advertisements|default({})}}"
    _bgp_peers: "{{_k3s_cfg.metallb.bgp_peers|default({})}}"
  when: >
    _k3s_debug_path is defined

- name: deploy metallb
  kubernetes.core.k8s:
    kubeconfig: "{{_k3s_kubecfg}}"
    state: present
    definition: "{{lookup('file', 'metallb/metallb-native.yaml')}}"

- name: wait for metallb webhook to be ready
  kubernetes.core.k8s_info:
    kubeconfig: "{{_k3s_kubecfg}}"
    kind: Deployment
    name: controller
    namespace: metallb-system
  register: _metallb_controller
  until: >
    _metallb_controller.resources | length > 0 and
    (_metallb_controller.resources[0].status.availableReplicas | default(0)) > 0
  retries: 24
  delay: 5

- name: deploy metallb pools
  kubernetes.core.k8s:
    kubeconfig: "{{_k3s_kubecfg}}"
    state: present
    apply: yes
    definition: "{{lookup('template', 'metallb.yaml.j2')}}"
  vars:
    _pools: "{{_k3s_cfg.metallb.pools|default({})}}"
    _advertisements: "{{_k3s_cfg.metallb.advertisements|default({})}}"
    _bgp_peers: "{{_k3s_cfg.metallb.bgp_peers|default({})}}"
