- name: check k3s service state
  ansible.builtin.systemd_service:
    name: k3s
  register: _k3s_status

- set_fact:
    _k3s_token: ""
    _k3s_token_passdb: ""
    _k3s_bind_args: ""
    _node_uninitialized: false

- set_fact:
    _k3s_token_passdb: "{{lookup(k3s_passdb, _k3s_cfg.node_token_passdb, missing='empty')}}"
  when: _k3s_cfg.node_token_passdb is defined

- set_fact:
    _k3s_installer: "{{local_bin|default('/usr/local/bin')}}/k3s_installer.sh"

- name: pull node token
  slurp:
    src: "/var/lib/rancher/k3s/server/node-token"
  register: _k3s_token_slurp
  changed_when: false
  ignore_errors: true
  no_log: true

- set_fact:
    _node_uninitialized: true
  when: >
    _k3s_token_slurp.failed == true and
    k3s_role|default('agent') == 'server'

- ansible.builtin.service_facts:
  when: k3s_role|default('agent') == 'agent'

- set_fact:
    _node_uninitialized: true
  when: >
    k3s_role|default('agent') == 'agent' and
    ansible_facts['services']['k3s-agent.service']['status'] | default('not-found') != 'enabled'

- name: copy k3s installer
  ansible.builtin.copy:
    src: k3s_installer.sh
    dest: "{{_k3s_installer}}"
    mode: 0755
    owner: root

- name: create k3s.service.de
  ansible.builtin.file:
    state: directory
    mode: 0755
    owner: root
    path: /etc/systemd/system/k3s.service.d

- name: copy longhorn environment check
  ansible.builtin.copy:
    src: longhorn/environment_check.sh
    dest: "{{local_bin|default('/usr/local/bin')}}/longhorn_environment_check"
    mode: 0755
    owner: root

- name: parse bind CIDRs
  set_fact:
    _bind_cidrs: "{{ _k3s_cfg.bind_cidr.split(',') | map('trim') | list }}"
    _bind_addresses: []
  when: _k3s_cfg.bind_cidr is defined

- name: find IPv4 bind addresses
  set_fact:
    _bind_addresses: "{{ _bind_addresses + (ansible_all_ipv4_addresses | ansible.utils.ipaddr(__cidr) | list)[:1] }}"
  loop_control:
    loop_var: __cidr
  with_items: "{{ _bind_cidrs | default([]) | ansible.utils.ipv4 | list }}"

- name: find IPv6 bind addresses
  set_fact:
    _bind_addresses: "{{ _bind_addresses + (ansible_all_ipv6_addresses | ansible.utils.ipaddr(__cidr) | list)[:1] }}"
  loop_control:
    loop_var: __cidr
  with_items: "{{ _bind_cidrs | default([]) | ansible.utils.ipv6 | list }}"

- name: reorder bind addresses for IPv6 preference
  set_fact:
    _bind_addresses: "{{ (_bind_addresses | ansible.utils.ipv6 | list) + (_bind_addresses | ansible.utils.ipv4 | list) }}"
  when: >
    _bind_addresses is defined and
    _bind_addresses | length > 0 and
    _k3s_cfg.ip_preference | default('ipv4') == 'ipv6'

- name: fail if bind_cidr addresses are not all bound
  ansible.builtin.fail:
    msg: >-
      bind_cidr '{{ _k3s_cfg.bind_cidr }}' not fully bound on {{ inventory_hostname }}:
      found {{ _bind_addresses | length }} address(es) for {{ _bind_cidrs | length }} CIDR(s)
  when: >
    _bind_cidrs is defined and
    _bind_addresses | length != _bind_cidrs | length

- name: add bind address to bind args
  set_fact:
    _k3s_bind_args: " {{_k3s_bind_args}} --node-ip={{_bind_addresses | join(',')}} --bind-address={{_bind_addresses | ipv4 | first | default(_bind_addresses | first)}}"
  when: _bind_addresses is defined and _bind_addresses | length > 0

- name: order service CIDR by IP preference
  set_fact:
    _k3s_service_cidr: >-
      {{ ((s | ansible.utils.ipv6 | list) + (s | ansible.utils.ipv4 | list)) | join(',')
         if _k3s_cfg.ip_preference | default('ipv4') == 'ipv6'
         else ((s | ansible.utils.ipv4 | list) + (s | ansible.utils.ipv6 | list)) | join(',') }}
  vars:
    s: "{{ _k3s_cfg.service_cidr.split(',') | map('trim') | list }}"
  when: _k3s_cfg.service_cidr is defined

- name: order cluster CIDR by IP preference
  set_fact:
    _k3s_cluster_cidr: >-
      {{ ((s | ansible.utils.ipv6 | list) + (s | ansible.utils.ipv4 | list)) | join(',')
         if _k3s_cfg.ip_preference | default('ipv4') == 'ipv6'
         else ((s | ansible.utils.ipv4 | list) + (s | ansible.utils.ipv6 | list)) | join(',') }}
  vars:
    s: "{{ _k3s_cfg.cluster_cidr.split(',') | map('trim') | list }}"
  when: _k3s_cfg.cluster_cidr is defined

- name: add service cidr to bind args
  set_fact:
    _k3s_bind_args: " {{_k3s_bind_args}} --service-cidr={{_k3s_service_cidr}}"
  when: _k3s_service_cidr is defined

- name: add cluster cidr to bind args
  set_fact:
    _k3s_bind_args: " {{_k3s_bind_args}} --cluster-cidr={{_k3s_cluster_cidr}}"
  when: _k3s_cluster_cidr is defined

- set_fact:
    _k3s_args: "{{k3s_role}} {{_k3s_bind_args}} {{_k3s_cfg.args|default('')}}"

- set_fact:
    _k3s_args: "{{_k3s_args}} --cluster-init --write-kubeconfig-mode={{_k3s_cfg.kubeconfig_mode|default('0600')}}"
  when: _first_server == true

- name: create k3s service drop-in
  ansible.builtin.template:
    src: k3s.conf.j2
    dest: /etc/systemd/system/k3s.service.d/10-exec.conf
    mode: "0644"
    owner: root
  register: _dropin_status

- name: restart k3s
  ansible.builtin.systemd_service:
    name: k3s
    daemon_reload: true
    state: restarted
  when: _dropin_status is changed
  ignore_errors: true

- name: setup master
  include_tasks: setup_master.yml
  when: >
    (_k3s_token_slurp.failed == true or k3s_upgrade|default(false)|bool == true) and
    k3s_role|default('agent') == 'server' and
    _first_server == true

- name: set k3s token
  set_fact:
    _k3s_token: "{{_k3s_token_slurp.content|b64decode|trim}}"
  when: >
    _k3s_token_slurp.failed == false and
    k3s_role|default('agent') == 'server' and
    _first_server == true

- name: add node token to password store
  set_fact:
    _dummy: "{{lookup(k3s_passdb, _k3s_cfg.node_token_passdb, create=true, userpass=_k3s_token)}}"
  when: >
    _k3s_cfg.node_token_passdb is defined and
    _k3s_token_passdb == "" and
    _first_server == true

- name: delegate k3s tokens
  include_tasks: delegate_token.yml
  with_items: "{{ansible_play_hosts}}"
  loop_control:
    loop_var: _delegate
  when: >
    _first_server == true

- name: use passdb token
  set_fact:
    _k3s_token: "{{_k3s_token_passdb}}"
  when: >
    _k3s_token == "" and
    _k3s_token_passdb != ""

- name: setup additional node
  include_tasks: setup_additional.yml
  when: >
    _first_server == false and
    (_node_uninitialized == true or k3s_upgrade|default(false)|bool == true) and
    k3s_role is defined and
    _k3s_cfg.first_server is defined and
    _k3s_token != ""
