# we probably should add a variable to block new deployments if the key should be there
- name: run k3s installer (master)
  ansible.builtin.shell: "{{_k3s_installer}}"
  environment:
    INSTALL_K3S_EXEC: "server {{_k3s_args}}"
  register: _master_install_status

- name: Reboot transactional system
  ansible.builtin.reboot:
    reboot_timeout: 600
  when: >
    _master_install_status is changed and
    transactional_system == True

- name: pull node token
  slurp:
    src: "/var/lib/rancher/k3s/server/node-token"
  register: _k3s_token_slurp
  changed_when: false
  ignore_errors: true
  no_log: true
  when: >
    _master_install_status is changed

- fail:
    msg: >
      k3s stdout:
        {{_master_install_status.stdout}}

      k3s stderr:
        {{_master_install_status.stderr}}
  when: >
    _master_install_status is changed and
    _k3s_token_slurp.failed == true
