- name: record k3s install args (join)
  ansible.builtin.copy:
    content: |
      K3S_URL='https://{{_k3s_cfg.first_server}}:6443'
      INSTALL_K3S_EXEC='{{_k3s_args}}'
    dest: /var/log/k3s-install-args
    mode: '0600'
    owner: root

- name: run k3s installer (join)
  ansible.builtin.shell: "{{_k3s_installer}}"
  environment:
    K3S_URL: "https://{{_k3s_cfg.first_server}}:6443"
    K3S_TOKEN: "{{_k3s_token}}"
    K3S_KUBECONFIG_MODE: "{{_k3s_cfg.kubeconfig_mode|default('0600')}}"
    INSTALL_K3S_EXEC: "{{_k3s_args}}"
  register: _additional_install_status

- name: Reboot transactional system
  ansible.builtin.reboot:
    reboot_timeout: 600
  when: >
    _additional_install_status is changed and
    transactional_system == True
