#jinja2: lstrip_blocks: True, trim_blocks: True
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-manager-webhook-tinydns
  namespace: "{{_k3s_cfg.cert_manager.namespace|default('cert-manager')}}"
  labels:
    app: cert-manager-webhook-tinydns
    configurator: ansible
  annotations:
    ansible.run-id: "{{ansible_run_id|default('N/A')}}"
    ansible.config_file: "{{ansible_config_file|default('N/A')}}"
    ansible.version: "{{ansible_version.full}}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cert-manager-webhook-tinydns
  template:
    metadata:
      labels:
        app: cert-manager-webhook-tinydns
        app.kubernetes.io/name: cert-manager
        app.kubernetes.io/component: webhook
      annotations:
        ansible.run-id: "{{ansible_run_id|default('N/A')}}"
        ansible.config_file: "{{ansible_config_file|default('N/A')}}"
        ansible.version: "{{ansible_version.full}}"
    spec:
      serviceAccountName: cert-manager-webhook-tinydns
      securityContext:
        fsGroup: 65532
      containers:
        - name: webhook
          image: "{{_k3s_cfg.cert_manager.tinydns_webhook.image|default('ghcr.io/aardsoft/cert-manager-webhook-tinydns:latest')}}"
          imagePullPolicy: "{{_k3s_cfg.cert_manager.tinydns_webhook.image_pull_policy|default('IfNotPresent')}}"
          command:
            - /usr/bin/cert-manager-webhook-tinydns
          args:
            - --secure-port=8443
            - --cert-dir=/tmp/certificates
          env:
            - name: GROUP_NAME
              value: "{{_k3s_cfg.cert_manager.tinydns_webhook.group_name|default('acme.webhook-tinydns.aardsoft.fi')}}"
          ports:
            - containerPort: 8443
              name: https
          volumeMounts:
            - name: private-key
              mountPath: /etc/webhook
              readOnly: true
            - name: tmp
              mountPath: /tmp
          securityContext:
            runAsNonRoot: true
            runAsUser: 65532
            runAsGroup: 65532
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
      volumes:
        - name: private-key
          secret:
            secretName: cert-manager-webhook-tinydns
            defaultMode: 0400
        - name: tmp
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: cert-manager-webhook-tinydns
  namespace: "{{_k3s_cfg.cert_manager.namespace|default('cert-manager')}}"
  labels:
    app: cert-manager-webhook-tinydns
    configurator: ansible
  annotations:
    ansible.run-id: "{{ansible_run_id|default('N/A')}}"
    ansible.config_file: "{{ansible_config_file|default('N/A')}}"
    ansible.version: "{{ansible_version.full}}"
spec:
  type: ClusterIP
  ports:
    - port: 443
      targetPort: 8443
      name: https
  selector:
    app: cert-manager-webhook-tinydns
