apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{_pvc.persistentVolumeClaim.claimName}}
  namespace: {{_pod_namespace}}
  labels:
    app: {{_pod_name}}
    configurator: ansible
  annotations:
    ansible.run-id: "{{ansible_run_id|default('N/A')}}"
    ansible.config_file: "{{ansible_config_file|default('N/A')}}"
    ansible.version: "{{ansible_version.full}}"
spec:
  accessModes:
    - {{_pvc.persistentVolumeClaim.accessMode | default('ReadWriteOnce')}}
  storageClassName: {{_pvc.persistentVolumeClaim.storageClass | default('longhorn')}}
  resources:
    requests:
      storage: {{_pvc.persistentVolumeClaim.size | default('1Gi')}}
