apiVersion: v1
kind: ConfigMap
metadata:
  name: {{_template_cm.name}}
  namespace: {{_pod_namespace}}
  labels:
    app: {{_pod_name}}
    configurator: ansible
  annotations:
    ansible.run-id: "{{ansible_run_id|default('N/A')}}"
    ansible.config_file: "{{ansible_config_file|default('N/A')}}"
    ansible.version: "{{ansible_version.full}}"
data:
{% for key, path in _template_cm.template.items() %}
  {{key}}: |
{% if path is mapping %}
{{ lookup('role_template', path.template, role=path.role) | indent(4, first=True) }}
{% else %}
{% set _cm_path = path if path.startswith('/') else playbook_dir + '/' + path %}
{{ lookup('template', _cm_path) | indent(4, first=True) }}
{% endif %}
{% endfor %}
