apiVersion: v1
kind: ConfigMap
metadata:
  name: {{_configmap.name}}
  namespace: {{_pod_namespace}}
  labels:
    app: {{_pod_name}}
    configurator: ansible
  annotations:
    ansible.run-id: "{{ansible_run_id|default('N/A')}}"
    ansible.config_file: "{{ansible_config_file|default('N/A')}}"
    ansible.version: "{{ansible_version.full}}"
data:
{% for key, value in _configmap.data.items() %}
  {{key}}: |
{{ value | indent(4, first=True) }}
{% endfor %}
